{% extends 'sidebar.html.twig' %}

{% block title %}QuickWork - Accueil{% endblock %}

{% block page_contents %}

<!-- Partie centrale -->
<div class="fixed flex flex-col h-full ml-14 mb-10 md:ml-64 bg-slate-100 dark:bg-slate-800 dark:text-white w-full">

  <!-- Title (accueil) -->
  <div class="pl-24 py-14 pt-24">
      <h1 class="text-6xl leading-6 ">Accueil</h1>
  </div>

  <!-- Message bienvenue + prénom + date-->
  <div class="pl-24">
    <h1 class="text-xl leading-6 ">Bonjour {{app.user.firstname}} !</h1>
    <p>Nous sommes le {{ today }}.</p>
  </div>

  <!-- Pointeuse -->
  <div class="grid md:grid-cols-2 md:w-[40rem] lg:grid-cols-2 lg:w-[40rem] xl:grid-cols-4 xl:w-[60rem] p-4 gap-4 m-16">
    <a href="#" class="bg-gradient-to-tl from-green-400 to-indigo-900 shadow-lg rounded-md flex items-center p-3 border-b-4 border-green-600  text-white font-medium w-50">
        <p>Début de journée</p>
    </a>

    <a href="#" class="bg-blue-500 shadow-lg rounded-md flex items-center p-3 border-b-4 border-blue-600  text-white font-medium animate-pulse w-50">
        <p>Début de pause repas</p>
    </a>

    <a href="#" class="bg-slate-300 shadow-lg rounded-md flex items-center  p-3 border-b-4 border-slate-400  text-white font-medium group w-50">
        <p>Fin de pause repas</p>
    </a>

    <a href="#" class="bg-blue-500 shadow-lg rounded-md flex items-center p-3 border-b-4 border-blue-600  text-white font-medium group w-50">
        <p>Fin de journée</p>
    </a>
  </div>

  <!-- Zone d'espacement-->
  <div class="h-full bg-transparent">
  </div>
    
  <!-- Zone d'information-->
  <div class="w-2/3 text-center m-auto h-auto dark:bg-white dark:bg-opacity-10 rounded-lg border border-slate-500">

    <span class="flex absolute h-4 w-4 -mt-2">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
      <span class="relative inline-flex rounded-full h-4 w-4 bg-sky-500"></span>
    </span>

    <h1 class="text-xl leading-6 pt-8 font-semibold">Communication entreprise</h1>
    <p class="text-xl px-8 m-4 text-justify">Nous organisons pour le vendredi 18 mars 2022 un dîner d'entreprise. Tout le monde sera le bienvenue ! Au menu : apéro dînatoire et cocktails à volonté.</p>
  </div>

  <!-- Zone d'espacement-->
  <div class="h-10 mb-24 bg-transparent">
  </div>

</div>
{% endblock %}
