{% extends 'base.html.twig' %}

{% block title %}Edit PlannedWorkDays{% endblock %}

{% block body %}
    
    {{ include('planning/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('planned_departement') }}">retour à la liste</a>

{% endblock %}


