{% extends 'base.html.twig' %}

{% block title %}New PlannedWorkDays{% endblock %}

{% block body %}
    <h1>Créer nouveau planning</h1>

    {{ include('planning/_form.html.twig') }}

    <a href="{{ path('planned_departement') }}">retour à la liste</a>
{% endblock %}
